.nct-media {
    width: 1000px;
    height: 2000px;
    border: 0px;
    
    zoom: 0.75;
    transform: scale(0.75);
    transform-origin: 0 0;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}

.nct-media-small {
    width: 1000px;
    height: 2000px;
    border: 0px;
    
    zoom: 0.4;
    transform: scale(0.4);
    transform-origin: 0 0;
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.4);
    -webkit-transform-origin: 0 0;
}