.App {
    text-align: center;
}

/*Custom css*/

body {
    background-color: #fff;
    touch-action: none;
}

/* .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
} */

img {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Fix chat overflow after scrolling */
div {
    overflow-x: hidden !important;
}

.chat-header {
    border-top-left-radius: 2.5vh;
    border-top-right-radius: 2.5vh;
}

.chat-footer {
    border-bottom-left-radius: 2.5vh;
    border-bottom-right-radius: 2.5vh;
}